.page.theme_light {
  /* Общие переменные  */
  --bg-color: #FFF1F7;
  --bg-image: url('../images/cover-image-light.png');

  /* Цвета акцентов и границ */
  --accent-color: #FF8DCB;
  --accent-bg-color: var(--accent-color);
  --border-color: #353430;
  --shadow-color: var(--accent-color);

  /* Текстовые цвета */
  --menu-color: #353430;
  --menu-color-hover: rgba(50, 49, 45, 0.4);
  --title-color: #FFC2E6; /* Цвет заголовка */
  --subtitle-color: #353430; /* Цвет подзаголовка */
  --text-color: var(--subtitle-color); /* Основной цвет текста */
  --section-title-color: var(--subtitle-color);
  --card-title-color: var(--subtitle-color);

  .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
:root {
    /* Общие переменные  */
    --bg-color: #FFF1F7;
    --bg-image: url('../images/cover-image-light.png');

    /* Цвета акцентов и границ */
    --accent-color: #FF8DCB;
    --accent-bg-color: var(--accent-color);
    --border-color: #353430;
    --shadow-color: var(--accent-color);

    /* Текстовые цвета */
    --menu-color: #353430;
    --menu-color-hover: rgba(50, 49, 45, 0.4);
    --title-color: #FFC2E6; /* Цвет заголовка */
    --subtitle-color: #353430; /* Цвет подзаголовка */
    --text-color: var(--subtitle-color); /* Основной цвет текста */
    --section-title-color: var(--subtitle-color);
    --card-title-color: var(--subtitle-color);
  }

  .header__rec {
    display: none;
  }
}