:root {
  /* Общие переменные  */
  --bg-color: #000028;
  --padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --main-font: 'IBMPlexMono', 'Lucida Console', 'Menlo', monospace;
  --font-weight: 400;
  --bg-image: url('../images/cover-image-dark.png');
  --decor-line-height: 0.825;

  /* Цвета акцентов и границ */
  --accent-color: #FF0070;
  --accent-bg-color: var(--accent-color);
  --border-color: var(--accent-color);
  --shadow-color: var(--accent-color);

  /* Текстовые цвета */
  --menu-color: var(--accent-color);
  --menu-color-hover: hsla(330, 100%, 50%, 0.4);
  --title-color: #DB00FF; /* Цвет заголовка */
  --subtitle-color: #000028; /* Цвет подзаголовка */
  --text-color: #F1B2CE; /* Основной цвет текста */
  --section-title-color: var(--accent-color);
  --card-title-color: var(--subtitle-color);

  /* Размеры шрифтов */
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* Главный заголовок */
  --text-size: 18px;
}
